{"openapi":"3.0.1","info":{"title":"CronoPublicApi.Api | v1","version":"1.0.0"},"servers":[{"url":"http://ext.crono.one/"}],"paths":{"/api/v1/Accounts/{objectId}":{"get":{"tags":["Companies"],"summary":"Get Company","description":"Get a single Company by Object Id from your subscription.","parameters":[{"name":"objectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"WithExternalValuesNoTags","in":"query","schema":{"type":"boolean"}},{"name":"WithTags","in":"query","schema":{"type":"boolean"}},{"name":"WithTasksAnalytics","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}}}}}}},"/api/v1/Accounts":{"get":{"tags":["Companies"],"summary":"Get all Companies","description":"Retrieve all Companies from your subscription with pagination and optional filters to include related data.","parameters":[{"name":"Limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","format":"int32"}},{"name":"Offset","in":"query","schema":{"maximum":2147483647,"minimum":0,"type":"integer","format":"int32"}},{"name":"WithExternalValuesNoTags","in":"query","schema":{"type":"boolean"}},{"name":"WithTags","in":"query","schema":{"type":"boolean"}},{"name":"WithTasksAnalytics","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}}}}}},"post":{"tags":["Companies"],"summary":"Create Company","description":"Create a new Company in your subscription with optional scraping of additional data.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInsertApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AccountInsertApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AccountInsertApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}}}}}},"patch":{"tags":["Companies"],"summary":"Patch Company","description":"Update an existing Company in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountPatchApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AccountPatchApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AccountPatchApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}}}}}}},"/api/v1/Accounts/search":{"post":{"tags":["Companies"],"summary":"Search Companies","description":"Search Companies with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AccountSearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AccountSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}}}}}}},"/api/v1/Accounts/import":{"post":{"tags":["Companies"],"summary":"Import Companies","description":"Import multiple Companies into your subscription with a single operation.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountsImportApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AccountsImportApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AccountsImportApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}}}}}}},"/api/v1/Activities/{objectId}":{"get":{"tags":["Activities"],"summary":"Get Activity","description":"Get a single Activity by Object Id from your subscription.","parameters":[{"name":"objectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"WithAccount","in":"query","schema":{"type":"boolean"}},{"name":"WithProspect","in":"query","schema":{"type":"boolean"}},{"name":"WithEmailLog","in":"query","schema":{"type":"boolean"}},{"name":"WithCallLog","in":"query","schema":{"type":"boolean"}},{"name":"WithLinkedinLog","in":"query","schema":{"type":"boolean"}},{"name":"WithOpportunity","in":"query","schema":{"type":"boolean"}},{"name":"WithTemplateTitle","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetActivityResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetActivityResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetActivityResponse"}}}}}}},"/api/v1/Activities":{"get":{"tags":["Activities"],"summary":"Get all Activities","description":"Retrieve all Activities from your subscription with pagination and optional filters to include related data.","parameters":[{"name":"Limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","format":"int32"}},{"name":"Offset","in":"query","schema":{"maximum":2147483647,"minimum":0,"type":"integer","format":"int32"}},{"name":"WithAccount","in":"query","schema":{"type":"boolean"}},{"name":"WithProspect","in":"query","schema":{"type":"boolean"}},{"name":"WithEmailLog","in":"query","schema":{"type":"boolean"}},{"name":"WithCallLog","in":"query","schema":{"type":"boolean"}},{"name":"WithLinkedinLog","in":"query","schema":{"type":"boolean"}},{"name":"WithOpportunity","in":"query","schema":{"type":"boolean"}},{"name":"WithTemplateTitle","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetActivitiesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetActivitiesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetActivitiesResponse"}}}}}}},"/api/v1/Activities/search":{"post":{"tags":["Activities"],"summary":"Search Activities","description":"Search Activities with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivitySearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ActivitySearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ActivitySearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetActivitiesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetActivitiesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetActivitiesResponse"}}}}}}},"/api/v1/CronoLists":{"post":{"tags":["Lists"],"summary":"Create List","description":"Create a new List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronoListInsertApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CronoListInsertApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CronoListInsertApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}}}}}},"patch":{"tags":["Lists"],"summary":"Patch List","description":"Update an existing List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronoListPatchApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CronoListPatchApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CronoListPatchApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}}}}}},"delete":{"tags":["Lists"],"summary":"Delete List","description":"Delete a List from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCronoListRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/DeleteCronoListRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DeleteCronoListRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}}}}}}},"/api/v1/CronoLists/search":{"post":{"tags":["Lists"],"summary":"Search Lists","description":"Search Lists with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronoListsSearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CronoListsSearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CronoListsSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoListsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoListsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoListsResponse"}}}}}}},"/api/v1/CronoLists/{id}":{"get":{"tags":["Lists"],"summary":"Get List","description":"Get a single List by Id from your subscription.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoListResponse"}}}}}}},"/api/v1/CronoLists/Prospect":{"post":{"tags":["Lists"],"summary":"Add Contacts to List","description":"Add existing Contacts to List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}},"delete":{"tags":["Lists"],"summary":"Remove Contacts from List","description":"Remove existing Contacts from List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}}},"/api/v1/CronoLists/Account":{"post":{"tags":["Lists"],"summary":"Add Companies to List","description":"Add existing Companies to List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}},"delete":{"tags":["Lists"],"summary":"Remove Companies from List","description":"Remove existing Companies from List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListStringRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}}},"/api/v1/CronoLists/Template":{"post":{"tags":["Lists"],"summary":"Add Templates to List","description":"Add existing Templates to List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}},"delete":{"tags":["Lists"],"summary":"Remove Templates from List","description":"Remove existing Templates from List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}}},"/api/v1/CronoLists/Strategy":{"post":{"tags":["Lists"],"summary":"Add Sequences to List","description":"Add existing Sequences to List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}},"delete":{"tags":["Lists"],"summary":"Remove Sequences from List","description":"Remove existing Sequences from List in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddOrRemoveEntitiesToListIntRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}}},"/api/v1/ExternalProperties/search":{"post":{"tags":["ExternalProperties"],"summary":"Search External Properties","description":"Search External Properties with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalPropertiesSearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExternalPropertiesSearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ExternalPropertiesSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetExternalPropertiesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetExternalPropertiesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetExternalPropertiesResponse"}}}}}}},"/api/v1/Import":{"get":{"tags":["Import"],"summary":"Get all Imports","description":"Retrieve all Imports from your subscription with pagination and optional filters to include related data.","parameters":[{"name":"Limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","format":"int32"}},{"name":"Offset","in":"query","schema":{"maximum":2147483647,"minimum":0,"type":"integer","format":"int32"}},{"name":"type","in":"query","schema":{"type":"string","default":null}},{"name":"statusType","in":"query","schema":{"type":"string","default":null}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoImportsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportsResponse"}}}}}}},"/api/v1/Import/{id}":{"get":{"tags":["Import"],"summary":"Get Import","description":"Get a single Import by Id from your subscription.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}}}}}}},"/api/v1/Notes/{objectId}":{"get":{"tags":["Notes"],"summary":"Get Note","description":"Get a single Note by Object Id from your subscription.","parameters":[{"name":"objectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"WithAccount","in":"query","schema":{"type":"boolean"}},{"name":"WithProspects","in":"query","schema":{"type":"boolean"}},{"name":"WithOpportunity","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetNoteResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetNoteResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetNoteResponse"}}}}}}},"/api/v1/Notes":{"get":{"tags":["Notes"],"summary":"Get all Notes","description":"Retrieve all Notes from your subscription with pagination and optional filters to include related data.","parameters":[{"name":"Limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","format":"int32"}},{"name":"Offset","in":"query","schema":{"maximum":2147483647,"minimum":0,"type":"integer","format":"int32"}},{"name":"WithAccount","in":"query","schema":{"type":"boolean"}},{"name":"WithProspects","in":"query","schema":{"type":"boolean"}},{"name":"WithOpportunity","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetNotesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetNotesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetNotesResponse"}}}}}},"post":{"tags":["Notes"],"summary":"Create Note","description":"Insert a new Note into your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteInsertApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/NoteInsertApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/NoteInsertApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetNoteResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetNoteResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetNoteResponse"}}}}}}},"/api/v1/Notes/search":{"post":{"tags":["Notes"],"summary":"Search Notes","description":"Search Notes with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteSearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/NoteSearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/NoteSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetNotesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetNotesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetNotesResponse"}}}}}}},"/api/v1/Opportunities/{objectId}":{"get":{"tags":["Deals"],"summary":"Get Deal","description":"Get a single Deal by Object Id from your subscription.","parameters":[{"name":"objectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"WithAccount","in":"query","schema":{"type":"boolean"}},{"name":"WithExternalValues","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}}}}}}},"/api/v1/Opportunities":{"get":{"tags":["Deals"],"summary":"Get all Deals","description":"Retrieve all Deals from your subscription with pagination and optional filters to include related data.","parameters":[{"name":"Limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","format":"int32"}},{"name":"Offset","in":"query","schema":{"maximum":2147483647,"minimum":0,"type":"integer","format":"int32"}},{"name":"WithAccount","in":"query","schema":{"type":"boolean"}},{"name":"WithExternalValues","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetOpportunitiesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetOpportunitiesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetOpportunitiesResponse"}}}}}},"post":{"tags":["Deals"],"summary":"Create Deal","description":"Create a new Deal in your subscription with optional scraping of additional data.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityInsertApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/OpportunityInsertApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/OpportunityInsertApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}}}}}},"patch":{"tags":["Deals"],"summary":"Patch Deal","description":"Update an existing Deal in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityPatchApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/OpportunityPatchApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/OpportunityPatchApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetOpportunityResponse"}}}}}}},"/api/v1/Opportunities/search":{"post":{"tags":["Deals"],"summary":"Search Deals","description":"Search Deals with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunitySearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/OpportunitySearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/OpportunitySearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetOpportunitiesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetOpportunitiesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetOpportunitiesResponse"}}}}}}},"/api/v1/Pipelines":{"get":{"tags":["Pipelines"],"summary":"Get all Pipelines with Stages","description":"Retrieve all Pipelines along with their related Stages from your subscription.","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetPipelinesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelinesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetPipelinesResponse"}}}}}}},"/api/v1/Prospects/{objectId}":{"get":{"tags":["Contacts"],"summary":"Get Contact","description":"Get a single Contact by Object Id from your subscription.","parameters":[{"name":"objectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"WithTags","in":"query","schema":{"type":"boolean"}},{"name":"WithTasksAnalytics","in":"query","schema":{"type":"boolean"}},{"name":"WithSequences","in":"query","schema":{"type":"boolean"}},{"name":"WithExternalValuesNoTags","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}}}}}}},"/api/v1/Prospects":{"get":{"tags":["Contacts"],"summary":"Get all Contacts","description":"Retrieve all Contacts from your subscription with pagination and optional filters to include related data.","parameters":[{"name":"Limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","format":"int32"}},{"name":"Offset","in":"query","schema":{"maximum":2147483647,"minimum":0,"type":"integer","format":"int32"}},{"name":"WithTags","in":"query","schema":{"type":"boolean"}},{"name":"WithTasksAnalytics","in":"query","schema":{"type":"boolean"}},{"name":"WithSequences","in":"query","schema":{"type":"boolean"}},{"name":"WithExternalValuesNoTags","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetProspectsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetProspectsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetProspectsResponse"}}}}}},"post":{"tags":["Contacts"],"summary":"Create Contact","description":"Create a new Contact in your subscription with optional scraping of additional data.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectInsertApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProspectInsertApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ProspectInsertApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}}}}}},"patch":{"tags":["Contacts"],"summary":"Patch Contact","description":"Update an existing Contact in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectPatchApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProspectPatchApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ProspectPatchApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetProspectResponse"}}}}}}},"/api/v1/Prospects/search":{"post":{"tags":["Contacts"],"summary":"Search Contacts","description":"Search Contacts with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectSearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProspectSearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ProspectSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetProspectsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetProspectsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetProspectsResponse"}}}}}}},"/api/v1/Prospects/import":{"post":{"tags":["Contacts"],"summary":"Import Contacts","description":"Import multiple Contacts into your subscription with a single operation.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsImportApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProspectsImportApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ProspectsImportApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCronoImportResponse"}}}}}}},"/api/v1/Strategies/search":{"post":{"tags":["Sequences"],"summary":"Search Sequences","description":"Search Sequences with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StrategySearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/StrategySearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/StrategySearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetStrategiesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetStrategiesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetStrategiesResponse"}}}}}}},"/api/v1/Strategies/details":{"post":{"tags":["Sequences"],"summary":"Search Sequence Details","description":"Search Sequence Details with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StrategyDetailsSearch"}},"text/json":{"schema":{"$ref":"#/components/schemas/StrategyDetailsSearch"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/StrategyDetailsSearch"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetStrategyDetailsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetStrategyDetailsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetStrategyDetailsResponse"}}}}}}},"/api/v1/Strategies/prospects":{"post":{"tags":["Sequences"],"summary":"Add Contacts to Sequences","description":"Add existing Contacts to Sequences in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddProspectsToStrategyApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddProspectsToStrategyApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddProspectsToStrategyApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoErrorAndAddProspectsToStrategyResultDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoErrorAndAddProspectsToStrategyResultDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoErrorAndAddProspectsToStrategyResultDto"}}}}}}},"/api/v1/Strategies/prospects/stop":{"post":{"tags":["Sequences"],"summary":"Stop Sequence for Contact","description":"Stop a Sequence for a Contact in your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StopProspectStrategyApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/StopProspectStrategyApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/StopProspectStrategyApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoErrorAndGetSequenceInstanceDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoErrorAndGetSequenceInstanceDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoErrorAndGetSequenceInstanceDto"}}}}}}},"/api/v1/Tasks/search":{"post":{"tags":["Tasks"],"summary":"Search Tasks","description":"Search Tasks with pagination filtering by search criteria from your subscription.","parameters":[{"name":"withOpportunities","in":"query","schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskTodoSearch"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskTodoSearch"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/TaskTodoSearch"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetTasksResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetTasksResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetTasksResponse"}}}}}}},"/api/v1/Tasks":{"post":{"tags":["Tasks"],"summary":"Create Task","description":"Insert a new Task into your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskInsertApiRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskInsertApiRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/TaskInsertApiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"application/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResponseOfCronoError"}}}}}}},"/api/v1/Templates/{objectId}":{"get":{"tags":["Templates"],"summary":"Get Template","description":"Get a single Template by Object Id from your subscription.","parameters":[{"name":"objectId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetTemplateResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetTemplateResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetTemplateResponse"}}}}}}},"/api/v1/Templates/search":{"post":{"tags":["Templates"],"summary":"Search Templates","description":"Search Templates with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateSearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/TemplateSearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/TemplateSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetTemplatesResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetTemplatesResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetTemplatesResponse"}}}}}}},"/api/v1/Users/{id}":{"get":{"tags":["Users"],"summary":"Get User","description":"Get a single User by Public Id from your subscription.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetUserResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetUserResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetUserResponse"}}}}}}},"/api/v1/Users":{"get":{"tags":["Users"],"summary":"Get all Users","description":"Retrieve all Users from your subscription with pagination and optional filters to include related data.","parameters":[{"name":"Limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","format":"int32"}},{"name":"Offset","in":"query","schema":{"maximum":2147483647,"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetUsersResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetUsersResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetUsersResponse"}}}}}}},"/api/v1/Users/search":{"post":{"tags":["Users"],"summary":"Search Users","description":"Search Users with pagination filtering by search criteria from your subscription.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSearchRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UserSearchRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UserSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetUsersResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetUsersResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetUsersResponse"}}}}}}}},"components":{"schemas":{"AccountImport":{"required":["name"],"type":"object","properties":{"name":{"type":"string"},"numberOfEmployees":{"type":"integer","format":"int32","nullable":true},"annualRevenue":{"type":"string","nullable":true},"website":{"type":"string","nullable":true},"linkedin":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"externalValues":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"A key-value map where keys are int (serialized as strings in JSON) and values are string.\n\nExample: { \"1\": \"value1\", \"2\": \"value2\", \"3\": null }","nullable":true,"example":{"1":"Custom Field Value 1","2":"Custom Field Value 2","3":null}},"owner":{"type":"string","description":"Assigns an owner to the account being created. This should be the owner's name or email.","nullable":true},"listId":{"type":"integer","description":"Specifies which list to add this account to after creation. If not provided, the account will not be added to any list.","format":"int32","nullable":true}}},"AccountIncludeOptions":{"type":"object","properties":{"withExternalValuesNoTags":{"type":"boolean","description":"Include external values without tags.","nullable":true},"withTags":{"type":"boolean","description":"Include tags.","nullable":true},"withTasksAnalytics":{"type":"boolean","description":"Include tasks analytics related to the company.","nullable":true}},"description":"Include options to expand related account data."},"AccountInsertApiRequest":{"type":"object","properties":{"scrapeOptions":{"$ref":"#/components/schemas/AccountScrapeOptions"},"data":{"$ref":"#/components/schemas/PublicAccountInsert"}}},"AccountPatchApiRequest":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PublicAccountPatch"}}},"AccountScrapeOptions":{"type":"object","properties":{"enrichCompany":{"type":"boolean","description":"Specifies whether to enrich the account with additional company information from external data sources"}},"description":"Options for scraping additional data about the account from external sources","nullable":true},"AccountSearchRequest":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/PaginationOptions"},"includes":{"$ref":"#/components/schemas/AccountIncludeOptions"},"name":{"type":"string","description":"Filter by account name (partial match).","nullable":true},"status":{"type":"array","items":{"$ref":"#/components/schemas/AccountStatusType"},"description":"Filter by account status values.","nullable":true},"externalProperties":{"type":"array","items":{"$ref":"#/components/schemas/ExternalPropertyFilter"},"description":"Filter by external property values.","nullable":true},"externalPropertyNumericFilters":{"type":"array","items":{"$ref":"#/components/schemas/ExternalPropertyNumericFilter"},"description":"Filter by numeric external property values.","nullable":true},"externalPropertyEmptyIds":{"type":"array","items":{"type":"integer","format":"int32"},"description":"External property IDs that must be empty.","nullable":true},"industry":{"type":"string","description":"Filter by industry.","nullable":true},"country":{"type":"string","description":"Filter by country.","nullable":true},"numberOfEmployeesMin":{"type":"integer","description":"Minimum number of employees.","format":"int32","nullable":true},"numberOfEmployeesMax":{"type":"integer","description":"Maximum number of employees.","format":"int32","nullable":true},"currentSolution":{"type":"string","description":"Filter by current solution value.","nullable":true},"userId":{"type":"string","description":"Filter by owner user ID.","nullable":true},"noUser":{"type":"boolean","description":"Only include accounts without an owner. If true, UserId is ignored.","nullable":true},"createdDateMin":{"type":"string","description":"Filter by created date range start.","format":"date-time","nullable":true},"createdDateMax":{"type":"string","description":"Filter by created date range end.","format":"date-time","nullable":true},"lastActivityDateMin":{"type":"string","description":"Filter by last activity date range start.","format":"date-time","nullable":true},"lastActivityDateMax":{"type":"string","description":"Filter by last activity date range end.","format":"date-time","nullable":true},"lastModifiedDateMin":{"type":"string","description":"Filter by last modified date range start.","format":"date-time","nullable":true},"lastModifiedDateMax":{"type":"string","description":"Filter by last modified date range end.","format":"date-time","nullable":true},"hasLinkedin":{"type":"boolean","description":"Only include accounts with a LinkedIn URL.","nullable":true},"hasWebsite":{"type":"boolean","description":"Only include accounts with a website.","nullable":true},"hasPhone":{"type":"boolean","description":"Only include accounts with a phone number.","nullable":true},"hasActivities":{"type":"boolean","description":"Only include accounts with activities.","nullable":true},"hasReplies":{"type":"boolean","description":"Only include accounts with replies.","nullable":true},"hasActiveTasks":{"type":"boolean","description":"Only include accounts with active tasks.","nullable":true},"hasEmailsOpened":{"type":"boolean","description":"Only include accounts with opened emails.","nullable":true},"hasClickedLinks":{"type":"boolean","description":"Only include accounts with clicked links.","nullable":true},"cleanEmptyName":{"type":"boolean","description":"Whether to remove empty names from results.","nullable":true},"sort":{"$ref":"#/components/schemas/NullableOfAccountSearchSortTypeV2"}}},"AccountsImportApiRequest":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AccountsImportRequest"}}},"AccountsImportRequest":{"type":"object","properties":{"accounts":{"type":"array","items":{"$ref":"#/components/schemas/AccountImport"},"description":"The collection of accounts to import with a maximum of 100 accounts per request"},"importType":{"$ref":"#/components/schemas/NullableOfImportType"},"fileName":{"type":"string","description":"The name of the file being imported (for tracking purposes)","nullable":true},"enrichCompany":{"type":"boolean","description":"Specifies whether to enrich the accounts with additional company information from external data sources","nullable":true},"aiExternalPropertiesIdsToGenerate":{"type":"array","items":{"type":"integer","format":"int32"},"description":"The IDs of custom external properties for which AI-generated values should be created during import","nullable":true}}},"AccountStatusType":{"enum":["Inactive","Nurture","Working","CallScheduled","OpenOpportunity","Customer"],"type":"string"},"ActivityIncludeOptions":{"type":"object","properties":{"withAccount":{"type":"boolean","description":"Include the related account.","nullable":true},"withProspect":{"type":"boolean","description":"Include the related prospect.","nullable":true},"withEmailLog":{"type":"boolean","description":"Include email log details.","nullable":true},"withCallLog":{"type":"boolean","description":"Include call log details.","nullable":true},"withLinkedinLog":{"type":"boolean","description":"Include LinkedIn log details.","nullable":true},"withOpportunity":{"type":"boolean","description":"Include the related opportunity.","nullable":true},"withTemplateTitle":{"type":"boolean","description":"Specifies whether to include the template title in the response for activities (emails, calls, LinkedIn messages) that have an associated template.","nullable":true}},"description":"Include options to expand related activity data."},"ActivitySearchRequest":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/PaginationOptions"},"include":{"$ref":"#/components/schemas/ActivityIncludeOptions"},"objectId":{"type":"string","description":"Filter by activity object ID.","nullable":true},"createdDateMin":{"type":"string","description":"Filter by created date range start.","format":"date-time","nullable":true},"createdDateMax":{"type":"string","description":"Filter by created date range end.","format":"date-time","nullable":true},"lastModifiedDateMin":{"type":"string","description":"Filter by last modified date range start.","format":"date-time","nullable":true},"lastModifiedDateMax":{"type":"string","description":"Filter by last modified date range end.","format":"date-time","nullable":true},"activityDateMin":{"type":"string","description":"Filter by activity date range start.","format":"date-time","nullable":true},"activityDateMax":{"type":"string","description":"Filter by activity date range end.","format":"date-time","nullable":true},"firstAnswerDatetimeMin":{"type":"string","description":"Filter by first answer date range start.","format":"date-time","nullable":true},"firstAnswerDatetimeMax":{"type":"string","description":"Filter by first answer date range end.","format":"date-time","nullable":true},"firstTrackDatetimeMin":{"type":"string","description":"Filter by first tracked date range start.","format":"date-time","nullable":true},"firstTrackDatetimeMax":{"type":"string","description":"Filter by first tracked date range end.","format":"date-time","nullable":true},"subject":{"type":"string","description":"Filter by subject (partial match).","nullable":true},"taskSubtype":{"type":"string","description":"Filter by task subtype.","nullable":true},"cronoObjectId":{"type":"integer","description":"Filter by Crono object ID.","format":"int32","nullable":true},"userId":{"type":"integer","description":"Filter by user ID.","format":"int32","nullable":true},"accountId":{"type":"string","description":"Filter by related account ID.","nullable":true},"prospectId":{"type":"string","description":"Filter by related prospect ID.","nullable":true},"opportunityId":{"type":"string","description":"Filter by related opportunity ID.","nullable":true}}},"AddOrRemoveEntitiesToListIntRequest":{"required":["listId","ids"],"type":"object","properties":{"listId":{"type":"integer","description":"List ID to update.","format":"int32"},"ids":{"type":"array","items":{"type":"integer","format":"int32"},"description":"IDs to add or remove."}}},"AddOrRemoveEntitiesToListStringRequest":{"required":["listId","objectIds"],"type":"object","properties":{"listId":{"type":"integer","description":"List ID to update.","format":"int32"},"objectIds":{"type":"array","items":{"type":"string"},"description":"Object IDs to add or remove."}}},"AddProspectsToStrategyApiRequest":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AddProspectsToStrategyRequest"}}},"AddProspectsToStrategyRequest":{"required":["strategyId"],"type":"object","properties":{"strategyId":{"type":"integer","description":"Strategy ID to add prospects to.","format":"int32"},"prospectIds":{"type":"array","items":{"type":"string"},"description":"Prospect object IDs to enroll in the strategy with a maximum of 100 prospects per request"}}},"AddProspectsToStrategyResultDto":{"type":"object","properties":{"addedCount":{"type":"integer","description":"Number of prospects successfully added to the strategy.","format":"int32"},"prospectSequenceInstanceIds":{"type":"array","items":{"$ref":"#/components/schemas/ProspectSequenceInstanceIdsDto"},"description":"Prospect and sequence instance identifiers created."}},"nullable":true},"AiVariableModelType":{"enum":["ChatGPT","ScrapeGraphAIWebsite","ScrapeGraphAILinkedin","ScrapeGraphAIGoogleNews"],"type":"string"},"CallFeedbackType":{"enum":["Connected","NotAnswered","Voicemail","GateKeeper","WrongNumber","Unknown","Busy"],"type":"string"},"CallIntegrationType":{"enum":["Aircall","HubspotPhone","None","Twilio","Ringover"],"type":"string"},"CheckOnInsertType":{"enum":["DoNotEnroll","SkipTasks"],"type":"string"},"ConditionalStepType":{"enum":["SwitchToEmail","SwitchToCall","Skip","Delay","SwitchToInMail","StopAndJumpToAnotherStrategy"],"type":"string"},"CronoError":{"enum":["BadRequest","MissingInput","EntityNotFound","EntityNotOwned","EntityNotConsistent","EntityNotCreated","EntityNotUpdated","CrmConflictError","CronoConflictError","EntityNotDeleted","EntityAlreadyExists","EntityDeleted","InternalError","NotAllowedWithCurrentPlan","NotAllowedWithCurrentRole","LogFailed","SalesforceTokenExpired","SalesforceRefreshTokenExpired","SalesforceRefreshTokenMissing","SalesforeResponseNotValid","IntegrationNotValidError","IntegrationApiError","IntegrationNotEnabledError","GoogleTokenExpired","GoogleRefreshTokenExpired","GoogleRefreshTokenMissing","GoogleApiFailed","GoogleApiPermissionMissing","GoogleAccountDeleted","HubspotTokenExpired","HubspotRefreshTokenExpired","HubspotRefreshTokenMissing","HubspotWebhookTooOld","HubspotWebhookInvalidSignature","HubspotWebhookInvalidHeaders","ScrapeNotEnabled","HunterGetError","ScrapeRequestsFinished","ScrapeNotFoundError","ScrapeInvalidUrl","ScrapeNotCompleted","ProspeoGetError","DatagmaGetError","ApolloGetError","WizaGetError","SubscriptionInactive","SubscriptionExpired","SubscriptionMaxUsersReached","SubscriptionInvalidIntegrationType","SubscriptionMinManagers","SubscriptionMulticustomer","ImportError","ImportStuckError","MaxActiveAccountsNumberExceeded","PipedriveTokenExpired","PipedriveRefreshTokenExpired","PipedriveRefreshTokenMissing","PipedriveResponseNotValid","AssistantNotEnabled","GPTError","AssistantRequestsFinished","JuneLogError","LogError","AutomationFailedEmailSend","AutomationFailedAddressMissing","AutomationFailedTemplateMissing","AutomationFailedEmailCreation","AutomationFailedEmailSettingsMissing","AutomationFailedTemplateApplicationError","AutomationFailedUnsupportedTaskTypeError","AutomationFailedLinkedinInvitationLimitReached","AutomationFailedLinkedinSendMessage","AutomationFailedLinkedinStatusUnknown","TaskErrorEmailBounced","TaskErrorInconsistentReschedule","UploadToS3Error","GetFileFromS3Error","UploadAttachmentError","DeleteFileFromS3Error","ProgressSyncError","OutlookTokenExpired","OutlookRefreshTokenExpired","OutlookRefreshTokenMissing","OutlookApiFailed","OutlookApiPermissionMissing","AircallTokenMissing","AircallTokenExpired","AircallUserNotConnected","MigrationError","MigrationNotActiveError","ErrorAttachmentsLimitReached","CustomEmailProviderIntegrationError","CustomEmailProviderSendError","CustomEmailProviderReadError","CustomEmailProviderVerifyError","CustomEmailProviderDisconnectError","FeatureNotEnabled","AdminNotEnabled","ExternalProviderCreditsFinished","ZeroBounceGetError","BounceBanGetError","RocketReachGetError","ContactOutGetError","Cleon1GetError","FindyMailGetError","GenerectGetError","ProviderNotEnabled","SnitcherError","ForagerGetError","LushaGetError","ExternalProviderInvalidApiKey","CognismGetError","OptOutGenericError","OptOutEmailInvalidError","OptOutEmailSendError","OptOutTokenDoesNotExistError","OptOutTokenExpiredError","ProspectOptedOut","EmailOptedOutError","ContactsValidationNotPassed","MaxMailBoxesReached","MailBoxAlreadyConnected","MailBoxNotPresent","NoMailBoxConnected","MailBoxDisconnected","MissingTemplateVariables","GenerateAiVariableEntityNotFound","GenerateAiVariableVariableNotFound","GenerateAiVariablePromptError","GenerateAiVariableVariableMissingError","GenerateAiVariableVariableEmptyPromptError","GenerateAiVariableInternalError","GPTFindCompanyLinkedinUrl","FileSizeTooBig","TwilioApiError","InstanceAlreadyRewritten","TaskAlreadyCompleted","AutomationFailedLinkedinInvitationPending","AutomationFailedLinkedinInvitationMaxCharacters","AutomationFailedLinkedinUrlMissing","AutomationFailedEmailNotValid","AutomationFailedLinkedinInvitationRecentlyWithdrawn","AutomationFailedSalesNavNotConnected","AutomationFailedMessageToNotConnected","AutomationFailedLinkedinUrlInvalid","AutomationFailedEmailFormatNotValid","AutomationFailedProspectNotActive","AutomationFailedAccountNotActive","AutomationFailedProfileViewError","AutomationFailedLikeLastPostError","AutomationFailedPreviousTaskPending","AutomationFailedProspectNotAssigned","AutomationFailedMaxSendEmailLimit","ApiKeysMissing","ApiKeysLimitReached","GenericError","BounceBanStillPendingError"],"type":"string"},"CronoListInsertApiRequest":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PublicCronoListInsert"}}},"CronoListPatchApiRequest":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PublicCronoListPatch"}}},"CronoListsSearchRequest":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/PaginationOptions"},"name":{"type":"string","description":"Filter by list name (partial match).","nullable":true},"accountId":{"type":"string","description":"Filter lists that include the specified account ID.","nullable":true},"prospectId":{"type":"string","description":"Filter lists that include the specified prospect ID.","nullable":true},"templateId":{"type":"integer","description":"Filter lists associated with a template ID.","format":"int32","nullable":true},"strategyId":{"type":"integer","description":"Filter lists associated with a strategy ID.","format":"int32","nullable":true},"type":{"$ref":"#/components/schemas/ListTableType3"},"sortType":{"$ref":"#/components/schemas/NullableOfCronoListSortType"}}},"CronoTaskTodoInsert":{"required":["accountId","type","activityDate","automatic"],"type":"object","properties":{"accountId":{"type":"string"},"prospectId":{"type":"string","nullable":true},"opportunityId":{"type":"string","nullable":true},"type":{"$ref":"#/components/schemas/CronoTaskTodoType"},"subtype":{"$ref":"#/components/schemas/NullableOfCronoTaskTodoSubtype"},"activityDate":{"type":"string","format":"date-time"},"templateId":{"type":"integer","format":"int32","nullable":true},"automatic":{"type":"boolean"},"subject":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"personalizedSubject":{"type":"string","nullable":true},"personalizedContent":{"type":"string","nullable":true},"assignToUser":{"type":"boolean","nullable":true}}},"CronoTaskTodoSubtype":{"enum":["LinkedinInvitation","LinkedinMessage","LinkedinVoiceNote","LinkedinProfileView","LinkedinLikeLastPost"],"type":"string"},"CronoTaskTodoType":{"enum":["Email","Call","Linkedin","InMail","Generic"],"type":"string"},"DeleteCronoListRequest":{"required":["listId"],"type":"object","properties":{"listId":{"type":"integer","description":"List ID to delete.","format":"int32"}}},"ExternalPropertiesSearchRequest":{"type":"object","properties":{"tableType":{"$ref":"#/components/schemas/NullableOfTableType"},"onlyInsert":{"type":"boolean","description":"Only include properties that are insertable.","nullable":true},"onlyTag":{"type":"boolean","description":"Only include properties that are tags.","nullable":true},"withLead":{"type":"boolean","description":"Include lead-related properties when supported.","nullable":true},"isImported":{"type":"boolean","description":"Filter by imported properties.","nullable":true},"isStatus":{"type":"boolean","description":"Filter by status properties.","nullable":true},"isFilter":{"type":"boolean","description":"Filter by properties usable as filters.","nullable":true},"onlyAiVariables":{"type":"boolean","description":"Only include AI variable properties.","nullable":true}}},"ExternalPropertyFilter":{"type":"object","properties":{"externalPropertyId":{"type":"integer","format":"int32"},"values":{"type":"array","items":{"type":"string"}}}},"ExternalPropertyNumericFilter":{"type":"object","properties":{"externalPropertyId":{"type":"integer","format":"int32"},"greaterThan":{"type":"number","format":"double","nullable":true},"lessThan":{"type":"number","format":"double","nullable":true}}},"ExternalPropertyType":{"enum":["Numeric","String","Boolean","List","MultiSelect","Text","DateTime","Date"],"type":"string"},"Filter":{"enum":["OpenedEmails","RepliedEmails","BouncedEmails","ClickedEmailsLink","RepliedLinkedinMessage","AcceptedLinkedinInvitation","DeliveredEmails","NotOpenedEmails","ConnectedCalls"],"type":"string"},"GenerateAiVariablesRequestBase":{"required":["externalPropertyIds"],"type":"object","properties":{"externalPropertyIds":{"type":"array","items":{"type":"integer","format":"int32"}}},"description":"If present and Valid will be used to start generation of EP AI variables after creation of the account","nullable":true},"GenerateAiVariablesRequestBase2":{"required":["externalPropertyIds"],"type":"object","properties":{"externalPropertyIds":{"type":"array","items":{"type":"integer","format":"int32"}}},"description":"If present and Valid will be used to start generation of EP AI variables after creation of the prospect","nullable":true},"GetAccountDto":{"required":["objectId","name"],"type":"object","properties":{"objectId":{"type":"string"},"name":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastActivityDate":{"type":"string","format":"date-time","nullable":true},"lastModifiedDate":{"type":"string","format":"date-time"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"annualRevenue":{"type":"string","nullable":true},"numberOfEmployees":{"type":"integer","format":"int32","nullable":true},"phone":{"type":"string","nullable":true},"cronoStatus":{"$ref":"#/components/schemas/AccountStatusType"},"emailDomain":{"type":"string","nullable":true},"linkedin":{"type":"string","nullable":true},"linkedinPublicId":{"type":"string","nullable":true},"linkedinNumericId":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"currentSolution":{"type":"string","nullable":true},"totalCall":{"type":"integer","format":"int32","nullable":true},"totalEmail":{"type":"integer","format":"int32","nullable":true},"totalInMail":{"type":"integer","format":"int32","nullable":true},"totalActivity":{"type":"integer","format":"int32","nullable":true},"customStatus":{"$ref":"#/components/schemas/GetExternalValueDto"},"userId":{"type":"string","nullable":true},"externalValues":{"type":"array","items":{"$ref":"#/components/schemas/GetExternalValueDto2"},"nullable":true}},"nullable":true},"GetAccountDto2":{"required":["objectId","name"],"type":"object","properties":{"objectId":{"type":"string"},"name":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastActivityDate":{"type":"string","format":"date-time","nullable":true},"lastModifiedDate":{"type":"string","format":"date-time"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"annualRevenue":{"type":"string","nullable":true},"numberOfEmployees":{"type":"integer","format":"int32","nullable":true},"phone":{"type":"string","nullable":true},"cronoStatus":{"$ref":"#/components/schemas/AccountStatusType"},"emailDomain":{"type":"string","nullable":true},"linkedin":{"type":"string","nullable":true},"linkedinPublicId":{"type":"string","nullable":true},"linkedinNumericId":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"currentSolution":{"type":"string","nullable":true},"totalCall":{"type":"integer","format":"int32","nullable":true},"totalEmail":{"type":"integer","format":"int32","nullable":true},"totalInMail":{"type":"integer","format":"int32","nullable":true},"totalActivity":{"type":"integer","format":"int32","nullable":true},"customStatus":{"$ref":"#/components/schemas/GetExternalValueDto"},"userId":{"type":"string","nullable":true},"externalValues":{"type":"array","items":{"$ref":"#/components/schemas/GetExternalValueDto2"},"nullable":true}}},"GetAccountResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GetAccountDto"},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetAccountsResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetAccountDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetActivitiesResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetActivityDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetActivityDto":{"required":["objectId","taskSubtype"],"type":"object","properties":{"objectId":{"type":"string"},"ownerId":{"type":"string","nullable":true},"callType":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"activityDate":{"type":"string","format":"date-time","nullable":true},"subject":{"type":"string","nullable":true},"taskSubtype":{"type":"string"},"active":{"type":"boolean"},"userId":{"type":"integer","format":"int32","nullable":true},"accountId":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/GetAccountDto"},"prospectId":{"type":"string","nullable":true},"prospect":{"$ref":"#/components/schemas/GetProspectDto"},"opportunityId":{"type":"string","nullable":true},"opportunity":{"nullable":true},"emailLog":{"nullable":true},"callLog":{"nullable":true},"linkedinLog":{"nullable":true}},"nullable":true},"GetActivityDto2":{"required":["objectId","taskSubtype"],"type":"object","properties":{"objectId":{"type":"string"},"ownerId":{"type":"string","nullable":true},"callType":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"activityDate":{"type":"string","format":"date-time","nullable":true},"subject":{"type":"string","nullable":true},"taskSubtype":{"type":"string"},"active":{"type":"boolean"},"userId":{"type":"integer","format":"int32","nullable":true},"accountId":{"type":"string","nullable":true},"account":{"nullable":true},"prospectId":{"type":"string","nullable":true},"prospect":{"nullable":true},"opportunityId":{"type":"string","nullable":true},"opportunity":{"$ref":"#/components/schemas/GetOpportunityDto"},"emailLog":{"$ref":"#/components/schemas/GetCronoEmailDto"},"callLog":{"$ref":"#/components/schemas/GetCronoCallDto"},"linkedinLog":{"$ref":"#/components/schemas/GetCronoLinkedinDto"}}},"GetActivityResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GetActivityDto"},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetAiVariableSettingsDto":{"required":["id","prompt","model","subscriptionId","externalPropertyId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"prompt":{"type":"string"},"model":{"$ref":"#/components/schemas/AiVariableModelType"},"subscriptionId":{"type":"integer","format":"int32"},"externalPropertyId":{"type":"integer","format":"int32"}},"nullable":true},"GetCronoCallDto":{"required":["userId","accountId","prospectId","telephone"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"taskTodoId":{"type":"integer","format":"int32","nullable":true},"templateId":{"type":"integer","format":"int32","nullable":true},"userId":{"type":"string"},"accountId":{"type":"string"},"prospectId":{"type":"string"},"telephone":{"type":"string"},"callFeedback":{"$ref":"#/components/schemas/CallFeedbackType"},"sentiment":{"$ref":"#/components/schemas/NullableOfCallSentimentType"},"note":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/GetAccountDto"},"prospect":{"$ref":"#/components/schemas/GetProspectDto"},"eventDatetime":{"type":"string","format":"date-time","nullable":true},"stopSequence":{"type":"boolean","nullable":true},"owner":{"type":"string","nullable":true},"externalLog":{"type":"string","nullable":true},"externalDirectLink":{"type":"string","nullable":true},"externalRegistrationLink":{"type":"string","nullable":true},"externalDuration":{"type":"integer","format":"int32","nullable":true},"integrationType":{"$ref":"#/components/schemas/CallIntegrationType"},"templateTitle":{"type":"string","nullable":true}},"nullable":true},"GetCronoEmailDto":{"required":["userId","accountId","prospectId","to","subject","contentHtml"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"suggestionId":{"type":"integer","format":"int32","nullable":true},"taskTodoId":{"type":"integer","format":"int32","nullable":true},"userId":{"type":"string","nullable":true},"accountId":{"type":"string"},"prospectId":{"type":"string"},"from":{"type":"string","nullable":true},"to":{"type":"string"},"cc":{"type":"array","items":{"type":"string"},"nullable":true},"ccn":{"type":"array","items":{"type":"string"},"nullable":true},"subject":{"type":"string"},"contentHtml":{"type":"string"},"templateId":{"type":"integer","format":"int32","nullable":true},"eventDatetime":{"type":"string","format":"date-time"},"isBounced":{"type":"boolean"},"isAnswered":{"type":"boolean"},"isReply":{"type":"boolean"},"sentimentAnalysisResult":{"$ref":"#/components/schemas/NullableOfSentimentAnalysisResult"},"replySentimentAnalysisResult":{"$ref":"#/components/schemas/NullableOfSentimentAnalysisResult"},"trackCount":{"type":"integer","format":"int32"},"threadId":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/GetAccountDto"},"prospect":{"$ref":"#/components/schemas/GetProspectDto"},"owner":{"type":"string","nullable":true},"emailLinks":{"type":"array","items":{"$ref":"#/components/schemas/GetEmailLinkDto"},"nullable":true},"templateTitle":{"type":"string","nullable":true},"linksTrackCountSum":{"type":"integer","format":"int32","nullable":true}},"nullable":true},"GetCronoImportDto":{"required":["id","importType","tableType","status","progress","startDate","quantity","okQuantity","warningQuantity","userId","subscriptionId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"importType":{"$ref":"#/components/schemas/ImportType"},"tableType":{"$ref":"#/components/schemas/TableType"},"status":{"$ref":"#/components/schemas/ImportStatusType"},"progress":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time","nullable":true},"error":{"$ref":"#/components/schemas/NullableOfCronoError"},"fileName":{"type":"string","nullable":true},"messageName":{"type":"string","nullable":true},"quantity":{"type":"integer","format":"int32"},"okQuantity":{"type":"integer","format":"int32"},"warningQuantity":{"type":"integer","format":"int32"},"newEntries":{"type":"integer","format":"int32","nullable":true},"warnings":{"type":"array","items":{"type":"string"},"nullable":true},"findEmail":{"type":"boolean","nullable":true},"findPhone":{"type":"boolean","nullable":true},"findLinkedin":{"type":"boolean","nullable":true},"enrichCompany":{"type":"boolean","nullable":true},"verifyEmail":{"type":"boolean","nullable":true},"userId":{"type":"string"},"subscriptionId":{"type":"integer","format":"int32"}},"nullable":true},"GetCronoImportDto2":{"required":["id","importType","tableType","status","progress","startDate","quantity","okQuantity","warningQuantity","userId","subscriptionId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"importType":{"$ref":"#/components/schemas/ImportType"},"tableType":{"$ref":"#/components/schemas/TableType"},"status":{"$ref":"#/components/schemas/ImportStatusType"},"progress":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time","nullable":true},"error":{"$ref":"#/components/schemas/NullableOfCronoError"},"fileName":{"type":"string","nullable":true},"messageName":{"type":"string","nullable":true},"quantity":{"type":"integer","format":"int32"},"okQuantity":{"type":"integer","format":"int32"},"warningQuantity":{"type":"integer","format":"int32"},"newEntries":{"type":"integer","format":"int32","nullable":true},"warnings":{"type":"array","items":{"type":"string"},"nullable":true},"findEmail":{"type":"boolean","nullable":true},"findPhone":{"type":"boolean","nullable":true},"findLinkedin":{"type":"boolean","nullable":true},"enrichCompany":{"type":"boolean","nullable":true},"verifyEmail":{"type":"boolean","nullable":true},"userId":{"type":"string"},"subscriptionId":{"type":"integer","format":"int32"}}},"GetCronoImportResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GetCronoImportDto"},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetCronoImportsResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetCronoImportDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetCronoLinkedinDto":{"required":["userId","accountId","prospectId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"suggestionId":{"type":"integer","format":"int32","nullable":true},"taskTodoId":{"type":"integer","format":"int32","nullable":true},"userId":{"type":"string"},"accountId":{"type":"string"},"prospectId":{"type":"string"},"content":{"type":"string","nullable":true},"subject":{"type":"string","nullable":true},"linkedinType":{"$ref":"#/components/schemas/LinkedinType"},"eventDatetime":{"type":"string","format":"date-time"},"isAnswered":{"type":"boolean"},"sentimentAnalysisResult":{"$ref":"#/components/schemas/NullableOfSentimentAnalysisResult"},"replySentimentAnalysisResult":{"$ref":"#/components/schemas/NullableOfSentimentAnalysisResult"},"account":{"$ref":"#/components/schemas/GetAccountDto"},"prospect":{"$ref":"#/components/schemas/GetProspectDto"},"templateId":{"type":"integer","format":"int32","nullable":true},"owner":{"type":"string","nullable":true},"templateTitle":{"type":"string","nullable":true},"linkedinPostUrl":{"type":"string","nullable":true},"isReply":{"type":"boolean","nullable":true}},"nullable":true},"GetCronoListDto":{"required":["id","name","type","shared","userId","owner"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ListTableType"},"shared":{"type":"boolean"},"userId":{"type":"string","nullable":true},"owner":{"type":"string"},"sharedUsers":{"type":"array","items":{"$ref":"#/components/schemas/GetUserDto"}}},"nullable":true},"GetCronoListDto2":{"required":["id","name","type","shared","userId","owner"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ListTableType"},"shared":{"type":"boolean"},"userId":{"type":"string","nullable":true},"owner":{"type":"string"},"sharedUsers":{"type":"array","items":{"$ref":"#/components/schemas/GetUserDto"}}}},"GetCronoListResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GetCronoListDto"},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetCronoListsResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetCronoListDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetEmailLinkDto":{"required":["url","trackId"],"type":"object","properties":{"url":{"type":"string"},"trackId":{"type":"string"},"trackCount":{"type":"integer","format":"int32"},"firstTrackDatetime":{"type":"string","format":"date-time","nullable":true},"lastTrackDatetime":{"type":"string","format":"date-time","nullable":true}}},"GetExternalPropertiesResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetExternalPropertyDto"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetExternalPropertyDto":{"required":["id","externalName","tableType","valueType","publicName","isEditable","top","isSync","isInsert","isTag","isStatus","isMandatory","isAiVariable","subscriptionId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"externalName":{"type":"string"},"tableType":{"$ref":"#/components/schemas/TableType"},"valueType":{"$ref":"#/components/schemas/ExternalPropertyType"},"publicName":{"type":"string"},"isEditable":{"type":"boolean"},"options":{"type":"array","items":{"type":"string"},"nullable":true},"labels":{"type":"array","items":{"type":"string"},"nullable":true},"top":{"type":"boolean"},"isSync":{"type":"boolean"},"isInsert":{"type":"boolean"},"isTag":{"type":"boolean"},"isStatus":{"type":"boolean"},"isMandatory":{"type":"boolean"},"isAiVariable":{"type":"boolean"},"isImported":{"type":"boolean","nullable":true},"isTemplateVariable":{"type":"boolean","nullable":true},"isFilter":{"type":"boolean","nullable":true},"createdDate":{"type":"string","format":"date-time","nullable":true},"defaultValue":{"type":"string","nullable":true},"order":{"type":"integer","format":"int32","nullable":true},"alignOwnerWhenCreate":{"type":"boolean","nullable":true},"aiVariableSettings":{"$ref":"#/components/schemas/GetAiVariableSettingsDto"},"subscriptionId":{"type":"integer","format":"int32"}}},"GetExternalValueDto":{"required":["name"],"type":"object","properties":{"externalPropertyId":{"type":"integer","format":"int32"},"name":{"type":"string"},"label":{"type":"string","nullable":true},"value":{"type":"string","nullable":true},"valueType":{"$ref":"#/components/schemas/NullableOfExternalPropertyType"}},"nullable":true},"GetExternalValueDto2":{"required":["name"],"type":"object","properties":{"externalPropertyId":{"type":"integer","format":"int32"},"name":{"type":"string"},"label":{"type":"string","nullable":true},"value":{"type":"string","nullable":true},"valueType":{"$ref":"#/components/schemas/NullableOfExternalPropertyType"}}},"GetNoteDto":{"required":["description","active","ownerId","accountId"],"type":"object","properties":{"objectId":{"type":"string","nullable":true},"description":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time","nullable":true},"active":{"type":"boolean"},"userId":{"type":"integer","format":"int32","nullable":true},"ownerId":{"type":"string","nullable":true},"accountId":{"type":"string"},"account":{"$ref":"#/components/schemas/GetAccountDto"},"opportunityId":{"type":"string","nullable":true},"opportunity":{"$ref":"#/components/schemas/GetOpportunityDto"},"prospectId":{"type":"string","nullable":true},"prospect":{"$ref":"#/components/schemas/GetProspectDto"}},"nullable":true},"GetNoteDto2":{"required":["description","active","ownerId","accountId"],"type":"object","properties":{"objectId":{"type":"string","nullable":true},"description":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time","nullable":true},"active":{"type":"boolean"},"userId":{"type":"integer","format":"int32","nullable":true},"ownerId":{"type":"string","nullable":true},"accountId":{"type":"string"},"account":{"$ref":"#/components/schemas/GetAccountDto"},"opportunityId":{"type":"string","nullable":true},"opportunity":{"$ref":"#/components/schemas/GetOpportunityDto"},"prospectId":{"type":"string","nullable":true},"prospect":{"$ref":"#/components/schemas/GetProspectDto"}}},"GetNoteResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GetNoteDto"},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetNotesResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetNoteDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetOpportunitiesResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetOpportunityDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetOpportunityDto":{"required":["objectId","active","isWon","isClosed","accountId"],"type":"object","properties":{"objectId":{"type":"string"},"active":{"type":"boolean"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"closeDate":{"type":"string","format":"date-time","nullable":true},"isWon":{"type":"boolean"},"isClosed":{"type":"boolean"},"amount":{"type":"number","format":"double","nullable":true},"name":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true},"pipeline":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"userId":{"type":"string","nullable":true},"accountId":{"type":"string"},"account":{"$ref":"#/components/schemas/GetAccountDto"},"externalValues":{"type":"array","items":{},"nullable":true}},"nullable":true},"GetOpportunityDto2":{"required":["objectId","active","isWon","isClosed","accountId"],"type":"object","properties":{"objectId":{"type":"string"},"active":{"type":"boolean"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"closeDate":{"type":"string","format":"date-time","nullable":true},"isWon":{"type":"boolean"},"isClosed":{"type":"boolean"},"amount":{"type":"number","format":"double","nullable":true},"name":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true},"pipeline":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"userId":{"type":"string","nullable":true},"accountId":{"type":"string"},"account":{"$ref":"#/components/schemas/GetAccountDto"},"externalValues":{"type":"array","items":{},"nullable":true}}},"GetOpportunityResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GetOpportunityDto"},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetPipelineDto":{"required":["externalName","publicName"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"externalName":{"type":"string"},"publicName":{"type":"string"},"displayOrder":{"type":"integer","format":"int32"},"isSync":{"type":"boolean"},"stages":{"type":"array","items":{"$ref":"#/components/schemas/GetPipelineStageDto"}}}},"GetPipelinesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GetPipelineDto"},"nullable":true},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetPipelineStageDto":{"required":["externalName","publicName"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"externalName":{"type":"string"},"publicName":{"type":"string"},"displayOrder":{"type":"integer","format":"int32"},"probability":{"type":"integer","format":"int32"},"isClosed":{"type":"boolean"},"isWon":{"type":"boolean"}}},"GetProspectDto":{"required":["objectId","phoneValid","lastModifiedDate","createdDate","totalTasks","totalEvents","fromContact","cronoStatus","active","optedOut"],"type":"object","properties":{"objectId":{"type":"string"},"name":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"location":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"phoneValid":{"type":"boolean"},"mobilePhone":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"emailStatus":{"$ref":"#/components/schemas/NullableOfVerificationStatusType"},"title":{"type":"string","nullable":true},"linkedin":{"type":"string","nullable":true},"linkedinPublicId":{"type":"string","nullable":true},"linkedinLeadId":{"type":"string","nullable":true},"lastActivityDate":{"type":"string","format":"date-time","nullable":true},"lastModifiedDate":{"type":"string","format":"date-time"},"createdDate":{"type":"string","format":"date-time"},"totalTasks":{"type":"integer","format":"int32"},"totalEvents":{"type":"integer","format":"int32"},"fromContact":{"type":"boolean"},"oldLeadId":{"type":"string","nullable":true},"relatedProspectId":{"type":"integer","format":"int32","nullable":true},"countryCode":{"type":"string","nullable":true},"timeZone":{"type":"string","nullable":true},"lastNotInterestedDate":{"type":"string","format":"date-time","nullable":true},"lastEmailNotFoundDate":{"type":"string","format":"date-time","nullable":true},"lastPhoneNotFoundDate":{"type":"string","format":"date-time","nullable":true},"lastLinkedinNotFoundDate":{"type":"string","format":"date-time","nullable":true},"cronoStatus":{"$ref":"#/components/schemas/ProspectStatusType"},"linkedinStatus":{"$ref":"#/components/schemas/NullableOfLinkedinStatus"},"active":{"type":"boolean"},"optedOut":{"type":"boolean"},"lastOptedOutDate":{"type":"string","format":"date-time","nullable":true},"totalCall":{"type":"integer","format":"int32","nullable":true},"totalEmail":{"type":"integer","format":"int32","nullable":true},"totalInMail":{"type":"integer","format":"int32","nullable":true},"totalActivity":{"type":"integer","format":"int32","nullable":true},"customStatus":{"$ref":"#/components/schemas/GetExternalValueDto"},"userId":{"type":"string","nullable":true},"optOutUserId":{"type":"string","nullable":true},"accountId":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/GetAccountDto"},"sequenceInstance":{"$ref":"#/components/schemas/GetSequenceInstanceDto"},"externalValues":{"type":"array","items":{},"nullable":true}},"nullable":true},"GetProspectDto2":{"required":["objectId","phoneValid","lastModifiedDate","createdDate","totalTasks","totalEvents","fromContact","cronoStatus","active","optedOut"],"type":"object","properties":{"objectId":{"type":"string"},"name":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"location":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"phoneValid":{"type":"boolean"},"mobilePhone":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"emailStatus":{"$ref":"#/components/schemas/NullableOfVerificationStatusType"},"title":{"type":"string","nullable":true},"linkedin":{"type":"string","nullable":true},"linkedinPublicId":{"type":"string","nullable":true},"linkedinLeadId":{"type":"string","nullable":true},"lastActivityDate":{"type":"string","format":"date-time","nullable":true},"lastModifiedDate":{"type":"string","format":"date-time"},"createdDate":{"type":"string","format":"date-time"},"totalTasks":{"type":"integer","format":"int32"},"totalEvents":{"type":"integer","format":"int32"},"fromContact":{"type":"boolean"},"oldLeadId":{"type":"string","nullable":true},"relatedProspectId":{"type":"integer","format":"int32","nullable":true},"countryCode":{"type":"string","nullable":true},"timeZone":{"type":"string","nullable":true},"lastNotInterestedDate":{"type":"string","format":"date-time","nullable":true},"lastEmailNotFoundDate":{"type":"string","format":"date-time","nullable":true},"lastPhoneNotFoundDate":{"type":"string","format":"date-time","nullable":true},"lastLinkedinNotFoundDate":{"type":"string","format":"date-time","nullable":true},"cronoStatus":{"$ref":"#/components/schemas/ProspectStatusType"},"linkedinStatus":{"$ref":"#/components/schemas/NullableOfLinkedinStatus"},"active":{"type":"boolean"},"optedOut":{"type":"boolean"},"lastOptedOutDate":{"type":"string","format":"date-time","nullable":true},"totalCall":{"type":"integer","format":"int32","nullable":true},"totalEmail":{"type":"integer","format":"int32","nullable":true},"totalInMail":{"type":"integer","format":"int32","nullable":true},"totalActivity":{"type":"integer","format":"int32","nullable":true},"customStatus":{"$ref":"#/components/schemas/GetExternalValueDto"},"userId":{"type":"string","nullable":true},"optOutUserId":{"type":"string","nullable":true},"accountId":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/GetAccountDto"},"sequenceInstance":{"$ref":"#/components/schemas/GetSequenceInstanceDto"},"externalValues":{"type":"array","items":{},"nullable":true}}},"GetProspectResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GetProspectDto"},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetProspectsResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetProspectDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetSequenceInstanceDto":{"required":["id","actualStep","numberOfSteps","startDate","strategyId","accountId","prospectId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"actualStep":{"type":"integer","format":"int32"},"numberOfSteps":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time","nullable":true},"lastStepDate":{"type":"string","format":"date-time","nullable":true},"status":{"$ref":"#/components/schemas/NullableOfSequenceStatus"},"selectedEmail":{"type":"string","nullable":true},"strategyId":{"type":"integer","format":"int32"},"strategyName":{"type":"string","nullable":true},"accountId":{"type":"string"},"prospectId":{"type":"string"},"userId":{"type":"integer","format":"int32"},"ownerId":{"type":"string","nullable":true},"user":{"type":"string","nullable":true},"tasks":{"type":"array","items":{"$ref":"#/components/schemas/GetActivityDto2"}}},"nullable":true},"GetSequenceInstanceDto2":{"required":["id","actualStep","numberOfSteps","startDate","strategyId","accountId","prospectId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"actualStep":{"type":"integer","format":"int32"},"numberOfSteps":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time","nullable":true},"lastStepDate":{"type":"string","format":"date-time","nullable":true},"status":{"$ref":"#/components/schemas/NullableOfSequenceStatus"},"selectedEmail":{"type":"string","nullable":true},"strategyId":{"type":"integer","format":"int32"},"strategyName":{"type":"string","nullable":true},"accountId":{"type":"string"},"prospectId":{"type":"string"},"userId":{"type":"integer","format":"int32"},"ownerId":{"type":"string","nullable":true},"user":{"type":"string","nullable":true},"tasks":{"type":"array","items":{"$ref":"#/components/schemas/GetActivityDto2"}}}},"GetStrategiesResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetStrategyDto"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetStrategyDetailsResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetSequenceInstanceDto2"}},"isSuccess":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ResponseErrorOfCronoError"}}}},"GetStrategyDto":{"required":["id","name","numberOfSteps","shared","active","rewrittenWithAi","subscriptionId","userId","user"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"numberOfSteps":{"type":"integer","format":"int32"},"shared":{"type":"boolean"},"active":{"type":"boolean"},"rewrittenWithAi":{"type":"boolean"},"useCount":{"type":"integer","format":"int32","nullable":true},"answerCount":{"type":"integer","format":"int32","nullable":true},"convertedCount":{"type":"integer","format":"int32","nullable":true},"activeCount":{"type":"integer","format":"int32","nullable":true},"stoppedCount":{"type":"integer","format":"int32","nullable":true},"completedCount":{"type":"integer","format":"int32","nullable":true},"stoppableCount":{"type":"integer","format":"int32","nullable":true},"warningsCount":{"type":"integer","format":"int32","nullable":true},"errorsCount":{"type":"integer","format":"int32","nullable":true},"automationsEnabled":{"type":"boolean"},"strategySettings":{"$ref":"#/components/schemas/GetStrategySettingsDto"},"subscriptionId":{"type":"integer","format":"int32"},"userId":{"type":"string","nullable":true},"user":{"type":"string","nullable":true},"tags":{"type":"array","items":{"$ref":"#/components/schemas/GetTagDto"}},"steps":{"type":"array","items":{"$ref":"#/components/schemas/GetStrategyStepDto"}},"userConnectedEmail":{"type":"array","items":{"type":"string"}}}},"GetStrategyDto2":{"required":["id","name","numberOfSteps","shared","active","rewrittenWithAi","subscriptionId","userId","user"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"numberOfSteps":{"type":"integer","format":"int32"},"shared":{"type":"boolean"},"active":{"type":"boolean"},"rewrittenWithAi":{"type":"boolean"},"useCount":{"type":"integer","format":"int32","nullable":true},"answerCount":{"type":"integer","format":"int32","nullable":true},"convertedCount":{"type":"integer","format":"int32","nullable":true},"activeCount":{"type":"integer","format":"int32","nullable":true},"stoppedCount":{"type":"integer","format":"int32","nullable":true},"completedCount":{"type":"integer","format":"int32","nullable":true},"stoppableCount":{"type":"integer","format":"int32","nullable":true},"warningsCount":{"type":"integer","format":"int32","nullable":true},"errorsCount":{"type":"integer","format":"int32","nullable":true},"automationsEnabled":{"type":"boolean"},"strategySettings":{"nullable":true},"subscriptionId":{"type":"integer","format":"int32"},"userId":{"type":"string","nullable":true},"user":{"type":"string","nullable":true},"tags":{"type":"array","items":{"$ref":"#/components/schemas/GetTagDto"}},"steps":{"type":"array","items":{"$ref":"#/components/schemas/GetStrategyStepDto"}},"userConnectedEmail":{"type":"array","items":{"type":"string"}}},"nullable":true},"GetStrategySettingsDto":{"required":["id","checkPhoneOnInsert","checkEmailOnInsert","checkLinkedinOnInsert","checkOnInsertType","strategyId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"checkPhoneOnInsert":{"type":"boolean"},"checkEmailOnInsert":{"type":"boolean"},"checkLinkedinOnInsert":{"type":"boolean"},"productDescription":{"type":"string","nullable":true},"targetAudience":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"style":{"$ref":"#/components/schemas/NullableOfCommunicationStyle"},"checkOnInsertType":{"$ref":"#/components/schemas/CheckOnInsertType"},"strategyId":{"type":"integer","format":"int32"},"productBenefits":{"type":"array","items":{"type":"string"}},"targetAudienceChallenges":{"type":"array","items":{"type":"string"}},"selectedInsightsForRewrite":{"type":"array","items":{"$ref":"#/components/schemas/InsightsInformationType"}},"selectedStepsForRewrite":{"type":"array","items":{"type":"integer","format":"int32"}}},"nullable":true},"GetStrategyStepConditionalDto":{"required":["id","type","automatic","strategyStepId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"type":{"$ref":"#/components/schemas/ConditionalStepType"},"delay":{"type":"integer","format":"int32","nullable":true},"automatic":{"type":"boolean"},"replyToThread":{"type":"boolean","nullable":true},"scheduleTime":{"type":"string","nullable":true},"template":{"$ref":"#/components/schemas/GetTemplateDto"},"linkedinUntilAcceptedDays":{"type":"integer","format":"int32","nullable":true},"daysAfterConditionNotAccepted":{"type":"integer","format":"int32","nullable":true},"templateId":{"type":"integer","format":"int32","nullable":true},"strategyStepId":{"type":"integer","format":"int32"},"newStrategyId":{"type":"integer","format":"int32","nullable":true},"newStrategy":{"$ref":"#/components/schemas/GetStrategyDto2"},"strategyStepTemplates":{"type":"array","items":{"$ref":"#/components/schemas/GetStrategyStepTemplateDto"}}},"nullable":true},"GetStrategyStepDto":{"required":["id","order","active","type","delay","automatic","stopSequenceInstanceIfInvitationReplied","subscriptionId","strategyId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"order":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"type":{"$ref":"#/components/schemas/CronoTaskTodoType"},"subtype":{"$ref":"#/components/schemas/NullableOfCronoTaskTodoSubtype"},"delay":{"type":"integer","format":"int32"},"automatic":{"type":"boolean"},"replyToThread":{"type":"boolean","nullable":true},"untilAccepted":{"type":"boolean","nullable":true},"stopSequenceInstanceIfInvitationReplied":{"type":"boolean"},"template":{"$ref":"#/components/schemas/GetTemplateDto"},"strategyStepConditional":{"$ref":"#/components/schemas/GetStrategyStepConditionalDto"},"scheduleTime":{"type":"string","nullable":true},"subscriptionId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32","nullable":true},"strategyId":{"type":"integer","format":"int32"},"templateId":{"type":"integer","format":"int32","nullable":true},"ccAddresses":{"type":"array","items":{"type":"string"}},"strategyStepTemplates":{"type":"array","items":{}}}},"GetStrategyStepTemplateDto":{"required":["id","type","enabled","useCount","openCount","clickCount","replyCount","templateId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"type":{"$ref":"#/components/schemas/TemplateType"},"enabled":{"type":"boolean"},"useCount":{"type":"integer","format":"int32"},"openCount":{"type":"integer","format":"int32"},"clickCount":{"type":"integer","format":"int32"},"replyCount":{"type":"integer","format":"int32"},"templateId":{"type":"integer","format":"int32"},"template":{"$ref":"#/components/schemas/GetTemplateDto"},"strategyStepId":{"type":"integer","format":"int32","nullable":true},"strategyStepConditionalId":{"type":"integer","format":"int32","nullable":true}}},"GetTagDto":{"required":["id","value","externalPropertyId"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"value":{"type":"string"},"externalPropertyId":{"type":"integer","format":"int32"}}},"GetTaskDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"type":{"$ref":"#/components/schemas/CronoTaskTodoType"},"subtype":{"$ref":"#/components/schemas/NullableOfCronoTaskTodoSubtype"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time","nullable":true},"activityDate":{"type":"string","format":"date-time"},"completeDate":{"type":"string","format":"date-time","nullable":true},"subject":{"type":"string","nullable":true},"descri
[...]
